#MovieBlock {
  width: 100%;
  background-color: #251e35;
  height: 100vh;
  align-items: center;
  border-top: 5px solid #7f0dff38;
  filter: drop-shadow(2px 4px 6px black);
}

#MovieBlock article {
  width: 80%;
  margin: 40px auto;
  background-color: #251e35;
  padding: 10px;
}

#MovieBlock article div h1 {
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 26px;
  color: #ea1537;
  /* filter: contrast(0.5); */
  padding: 13px 0 0;
}

#MovieBlock article div p {
  color: #fff;
  filter: contrast(0.8);
  padding: 10px 0;
  margin: 20px 0;
}

#MovieBlock article div form {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#MovieBlock article div form div {
  flex: 1 1;
  margin-right: 10px;
  background: #39295d85;
  padding: 10px;
  box-shadow: 1px 1px 3px 1px #7f0dff4a;
  height: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#MovieBlock article div form div label {
  display: block;
  width: 200px;
  font-size: 13px;
  color: #fff;
  padding: 10px 0;
}

#MovieBlock article div form div input,
#MovieBlock article div form div textarea {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #5909b3;
  color: #5909b3;
  filter: contrast(0.6);
}

#MovieBlock article div form div button {
  width: auto;
  border-radius: 4px;
  background: linear-gradient(263deg, #5909b3, #7f0dff);
  color: #fff;
  outline: none;
  border: none;
  margin: 10px 0;
  padding: 15px 50px;
}

.btn-group {
  flex-basis: 100% !important;
  justify-content: flex-end;
  cursor: pointer;
  background-color: transparent !important;
  box-shadow: none !important;
}
